.modal_header {
    border-bottom: 0;
    padding: 0;
}
.modal_header .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
}
.preview-video {
    width: 100%;
    height: 300px;
}
.preview-video iframe {
    width: 100%;
    height: 100%;
}
