h3 {
    padding-left: 0;
}
.time {
    padding-left: 10px;
    font-weight: 400;
    font-size: 20px;
}
.tag-wrap,
.movie-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    gap: 10px;
}
.tag-wrap .tag {
    padding: 0 10px;
    background: rgb(255, 0, 0, 0.3);
    border: 1px solid rgb(148, 1, 1);
    border-radius: 6px;
    font-size: 14px;
}
.overview {
    line-height: 23px;
    width: 100%;
    padding: 20px 10px;
    border-top: 1px solid rgb(255, 255, 255, 0.3);
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}
h3.title {
    padding-left: 0 !important;
    flex-wrap: wrap !important;
}
h3.title::before {
    display: none !important;
}
