.banner {
    height: 56vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner::before {
    content: "";
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 56vh;
    width: 100%;
}
.banner-text-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    height: 100%;
    padding: 0 20px 0 30%;
}
.banner-text-area p {
    width: 100%;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.banner-text-area > * {
    z-index: 2;
}
