.movie-card {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
}
.overlay {
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.8);
    opacity: 0;
    transition: all 1s;
    color: #fff;
    font-weight: bold;
    overflow-wrap: break-word;
    padding: 50px 20px 20px;
}
.overlay:hover {
    opacity: 1;
}
.movie-card:hover {
    transform: scale(1.1) translateZ(20px);
    z-index: 2;
    box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.8);
}
.overlay ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 5px;
}
.overlay ul li {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
}
.overlay p span {
    margin-right: 5px;
    font-weight: 400;
    font-size: 10px;
}
.overlay h3 {
    font-size: 20px;
    padding: 0;
}
@media (max-width: 1440px) {
    .movie-card {
        height: 300px;
    }
}
@media (max-width: 1024px) {
    .movie-card {
        height: 400px;
    }
}
@media (max-width: 464px) {
    .movie-card {
        height: 280px;
    }
}
