.movie-container {
    padding-top: 60px;
}
.pagination-wrap .page-link {
    background-color: transparent !important;
    color: #ffffff8c !important;
    border: none !important;
}
.pagination-wrap .page-link:focus-within {
    box-shadow: none !important;
}
.pagination-wrap .page-link:hover {
    color: red !important;
}
.pagination-wrap .page-item.active .page-link {
    color: red !important;
    border: 1px solid red !important;
    border-radius: 19px !important;
}
