.app {
    background: #2b3035;
    width: 100%;
    min-height: 100vh;
    color: #ffffff8c;
}
.react-multiple-carousel__arrow {
    background: transparent !important;
}
nav.bg-body-tertiary {
    position: fixed !important;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    z-index: 9999 !important;
}
button.navbar-toggler:focus {
    outline: 0 !important;
    box-shadow: 0 !important;
}
